<div class="footer">
  <div class="footer-col" *ngIf="isDesktop">
    <span style="margin: 1rem; font-size: xx-large;">Contact Us</span>
    <span><i class="pi pi-inbox"></i>petcarebengals@gmail.com</span>
    <span><i class="pi pi-whatsapp"></i>+389 77661316</span>
    <span><a style="color: white; text-decoration: none"
             href="https://www.google.com/maps/place/PetCare+Bengals/@41.9905498,21.5967465,15z/data=!4m6!3m5!1s0x1354396dee19b90d:0x445df1ef97025ebb!8m2!3d41.9905498!4d21.5967465!16s%2Fg%2F11kjnf3ldc"><i
      class="pi pi-map-marker"></i>Skopje, Macedonia</a></span>
    <span>
    <a href="https://www.facebook.com/profile.php?id=100064183446244"
       style="color: white; text-decoration: none;color: white"><i class="pi pi-facebook"></i>PetCare Hotel</a>
    </span>
    <span>
      <a style="color: white; text-decoration: none;color: white" href="https://www.instagram.com/pet_care__hotel/"><i
        class="pi pi-instagram"></i>@pet_care__hotel</a>
    </span>
  </div>
  <app-user-register></app-user-register>
</div>
<div
  style="display: flex; width: 100%; background: #93684a; margin-top: 3rem;padding:0.5rem; color: white; justify-content: center; align-items: center">
  <span>&copy; 2023 PetCare </span>
</div>
