<div *ngIf="cats$ | async as cats">
  <p-carousel
    [showIndicators]="false" [value]="cats" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template let-cat pTemplate="item">
      <div class="p-card" style="margin: 20px; padding: 20px">
        <div>
          <img style="width: 100%" src="{{ cat.image }}" [alt]="cat.name" class="w-6 shadow-2" />
        </div>
        <div style="display: flex; flex-direction: column">
          <div style="display:flex; justify-content: space-between; padding: 1rem">
            <h4 class="mb-1">{{ cat.name }}</h4>
            <h4 class="mt-0 mb-3">{{ '$' + cat.price }}</h4>
          </div>
          <div>{{cat.description}}</div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
