:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  background: white;
}
:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  background: white;
}

.wrapper-card {
  background: #d7d7d7;
  padding: 0.5rem;
  margin: 0.5rem;
}
