:host {
  color: white;
}

p {
  font-size: xx-large;
}

.ng-submitted.ng-invalid.ng-dirty ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:host ::ng-deep .p-autocomplete  {
  width: 100%;
}
:host ::ng-deep .p-autocomplete input {
  width: 100%
}
:host ::ng-deep .p-autocomplete .p-button {
  background: rgb(205, 168, 115);
  border: 1px solid rgb(205, 168, 115)
}
