<div style="background: white; width: 100%; display: flex; flex-direction: column; align-items: center; padding: 5rem">
  <span style="font-size: xxx-large; color: rgb(205, 168, 115);">About Us</span>
    <p style="width: 50%; line-height: 2rem; text-align: center">
      The Bengal could never be called delicate. They’re athletes: agile and graceful with a strong, muscular body, as
      befits a cat who looks as if they belong in the jungle.

      Despite their wild appearance, Bengal cats are actually quite affectionate with their human families. That said,
      they also have high energy and a fun-loving, playful side. They want to stay active and need a home that can match
      their energy.
    </p>
</div>
