::ng-deep body {
  margin: 0;
  background: rgb(1, 1, 1);
  background: linear-gradient(90deg, rgba(1, 1, 1, 1) 0%, rgba(77, 61, 51, 1) 50%, rgb(124, 83, 55) 100%);
}

.general-content-wrapper {
  margin: 2rem 8rem 2rem 8rem;
  width: calc(100vw - 16rem);
  display: flex;
  border-radius: 3rem;
  //background: rgb(112,77,61);
  //background: linear-gradient(65deg, rgba(112,77,61,1) 0%, rgba(149,106,75,1) 100%);
  //border-radius: 3rem;
}

.general-content {
  width: 50%;
  background: rgb(112,77,61);
  background: linear-gradient(65deg, rgba(112,77,61,1) 0%, rgba(149,106,75,1) 100%);
  //display: flex;
  //flex-direction: column;
  //align-items: end;
  //background: url("/assets/background-cat.png");
  //background-repeat: no-repeat;
  //background-size: 100% auto;
  border-radius: 0 3rem 3rem 0;
  //padding: 0 2rem 0 2rem;
  //height: 894px;
}

