::ng-deep body {
  margin: 0;
  background: rgb(1, 1, 1);
  background: linear-gradient(90deg, rgba(1, 1, 1, 1) 0%, rgba(77, 61, 51, 1) 50%, rgb(124, 83, 55) 100%);
}

.general-content-wrapper {
  margin: 2rem 5rem 2rem 5rem;
  width: calc(100vw - 10rem);
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  background: url("/assets/background-cat.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 3rem;
}
