/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'MyFont';
  src: url("./assets/VarelaRound-Regular.ttf");
}

body {
  font-family: 'MyFont';
  scroll-behavior: smooth;
}

.register-btn {
  background: rgb(205, 168, 115);
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-family: MyFont;
  &:hover {
    cursor: pointer;
    background: rgb(205, 168, 115, 95%);
    color: rgba(255, 255, 255, 90%);
  }
}
