<p-card header="Advanced Card" subheader="Sub header" [style]="{ width: '30%' }">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
    quas!
  </p>
  <div style="width: 100%; display: flex; justify-content: space-around">
    <img style="width: 40%; border-radius: 15%" src="https://media.istockphoto.com/id/1287590626/vector/isolated-on-white-bengal-cat-vector-illustration.jpg?s=1024x1024&w=is&k=20&c=aUDGIOgxrYyrwRz4a68xG4SUjElrpszF1Aoi4skLaWE=">
    <img style="width: 40%" src="https://media.istockphoto.com/id/1287590626/vector/isolated-on-white-bengal-cat-vector-illustration.jpg?s=1024x1024&w=is&k=20&c=aUDGIOgxrYyrwRz4a68xG4SUjElrpszF1Aoi4skLaWE=">
  </div>
</p-card>
